[Unit]
Description=Kubernetes Proxy Service
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/kube-node
ExecStart=/usr/bin/kube-proxy \
  --config=/var/lib/kube-proxy/config.yaml \
  --cluster-cidr="${KUBE_POD_CIDR}" \
  --log-dir=/var/log/kubernetes \
  --logtostderr=false \
  --v=2

Restart=on-failure
RestartSec=10
Type=simple
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

